.container{
    background-color: rgb(117, 117, 117);
    color: rgb(38, 39, 38);
    display: flex;
   justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
   height: 100vh;
}